/** Stage container **/

.connected-carousels .stage {
    width: 100%;
    margin: 0 auto;
    position: relative;
}


/** Navigation container **/

.connected-carousels .navigation {
    width: 100%;
    margin: 10px auto;
    position: relative;
    padding: 0 25px;
}

/** Shared carousel styles **/

.connected-carousels .carousel {
    overflow: hidden;
    position: relative;
    z-index: 1;
}

.connected-carousels .carousel ul {
    width: 20000em;
    position: relative;
    list-style: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.connected-carousels .carousel li {
    float: left;
}

/** Stage carousel specific styles **/

.connected-carousels .carousel-stage {
    height: auto;
    width: 100%;
}
.connected-carousels .carousel-stage li img
{
    display: block;
    height: auto;
    width: 100%;
}
/** Navigation carousel specific styles **/

.connected-carousels .carousel-navigation {
    height: auto;
    width: 100%;
    background: #fff;
    margin: 0 auto;
}
.connected-carousels a:hover {
    text-decoration: none;
}
.connected-carousels .carousel-navigation li {
    cursor: pointer;
}

/*.connected-carousels .carousel-navigation li img {
    display: block;
    border: 1px solid #fff;
    width: 100%;
}

.connected-carousels .carousel-navigation li.active img {
    border-color: #ccc;
}*/

/** Stage carousel controls **/

.connected-carousels .prev-stage,
.connected-carousels .next-stage {
    background-color: #005aa8;
    display: block;
    font-size: 20px;
    position: absolute;
    top: 50%;
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    color: #fff;
    margin-top: -15px;
    z-index: 10;
}

.connected-carousels .prev-stage {
    left: 0;
}

.connected-carousels .next-stage {
    right: 0;
}

.connected-carousels .prev-stage.inactive,
.connected-carousels .next-stage.inactive {
    display: none;
}

/*.connected-carousels .prev-stage span,
.connected-carousels .next-stage span {
    display: none;
    position: absolute;
    top: 50%;
    width: 30px;
    height: 30px;
    text-align: center;
    background: #4E443C;
    color: #fff;
    text-decoration: none;
    text-shadow: 0 0 1px #000;
    font: 24px/27px Arial, sans-serif;
    -webkit-border-radius: 30px;
       -moz-border-radius: 30px;
            border-radius: 30px;
    -webkit-box-shadow: 0 0 2px #999;
       -moz-box-shadow: 0 0 2px #999;
            box-shadow: 0 0 2px #999;
}

.connected-carousels .prev-stage span {
    left: 20px;
}

.connected-carousels .next-stage span {
    right: 20px;
}

.connected-carousels .prev-stage:hover span,
.connected-carousels .next-stage:hover span {
    display: block;
}*/

/** Navigation carousel controls **/

.connected-carousels .prev-navigation,
.connected-carousels .next-navigation {
    display: block;
    position: absolute;
    width: 20px;
    height: 30px;
    line-height: 30px;
    background: #005aa8;
    color: #fff;
    text-decoration: none;
    top: 50%;
    margin-top: -15px;
    text-align: center;
    z-index: 10;
    /*text-shadow: 0 0 1px #000;
    font: 16px/29px Arial, sans-serif;
    -webkit-border-radius: 30px;
       -moz-border-radius: 30px;
            border-radius: 30px;
    -webkit-box-shadow: 0 0 2px #999;
       -moz-box-shadow: 0 0 2px #999;
            box-shadow: 0 0 2px #999;
            */
}

.connected-carousels .prev-navigation {
    left: 0;
}

.connected-carousels .next-navigation {
    right: 0;
}

.connected-carousels .prev-navigation.inactive,
.connected-carousels .next-navigation.inactive {
    opacity: .8;
    cursor: default;
}


.connected-carousels .inactive-none{
    display: none;
}

/** Carousel Pagination **/

.connected-carousels .jcarousel-pagination 
{
    font-size: 0;
    position: relative;
    top: 0;
    left: 0;
    margin: 0 auto;
    text-align:center;
    width: 100%;
}

.connected-carousels .jcarousel-pagination a {
    background: url(../images/bannerp.png) no-repeat left top;
    text-decoration: none;
    display: inline-block;
    height: 14px;
    width: 14px;
    overflow: hidden;
    text-indent: -9999px;
    margin: 0 5px;

    /*margin-right: 7px;


    -webkit-box-shadow: 0 0 2px #4E443C;
    -moz-box-shadow: 0 0 2px #4E443C;
    box-shadow: 0 0 2px #4E443C;*/
}

.connected-carousels .jcarousel-pagination a.active {
    background-position: left bottom;
    opacity: 1;
}
/*=================*/

.small-in {
    padding: 0 3px;
}
    .small-in a {
        border: solid 1px #e0e0e0;
        display: block;
        text-align: center;
    }
    .small-in a:hover, .active a {
        border-color: #257439;
    }
        .small-in a img {
            display: inline-block;
            max-width: 100%;
        }