/*
 * jQuery Nivo Slider v3.2
 * http://nivo.dev7studios.com
 *
 * Copyright 2012, Dev7studios
 * Free to use and abuse under the MIT license.
 * http://www.opensource.org/licenses/mit-license.php
 */
 
/* The Nivo Slider styles */
.slider-wrapper
{
    background: #000;
    position: relative;
    width: 100%;
    z-index: 1;
}
.nivoSlider {
	position:relative;
	width:100%;
	height:auto;
	overflow: hidden;
}
.nivoSlider img {
	position:absolute;
	top:0px;
	left:0px;
	max-width: none;
}
.nivo-main-image {
	display: block !important;
	position: relative !important; 
	width: 100% !important;
}

/* If an image is wrapped in a link */
.nivoSlider a.nivo-imageLink {
	position:absolute;
	top:0px;
	left:0px;
	width:100%;
	height:100%;
	border:0;
	padding:0;
	margin:0;
	z-index:6;
	display:none;
	background:white; 
	filter:alpha(opacity=0); 
	opacity:0;
}
/* The slices and boxes in the Slider */
.nivo-slice {
	display:block;
	position:absolute;
	z-index:5;
	height:100%;
	top:0;
}
.nivo-box {
	display:block;
	position:absolute;
	z-index:5;
	overflow:hidden;
}
.nivo-box img { display:block; }

/* Caption styles */
.nivo-caption {
	position:absolute;
	left:0px;
	bottom:30px;
	color:#fff;
	padding: 15px;
	width:100%;
	z-index:8;
	overflow: hidden;
	display: none;
}
.nivo-html-caption {
    display:none;
}
/* Direction nav styles (e.g. Next & Prev) */
.nivo-directionNav a {
    background: url(../images/bannerpg.png) no-repeat left top;
    display: block;
    overflow: hidden;
	position:absolute;
	top: 50%;
	z-index:9;
	cursor:pointer;
    text-indent: -9999em;
    height: 97px;
    margin-top: -48px;
    width: 46px;
}
.nivo-directionNav .nivo-prevNav {
    background-position: left top;
	left:0px;
}
.nivo-directionNav .nivo-nextNav {
    background-position: right top;
	right:0px;
}
.nivo-directionNav .nivo-prevNav:hover {
    background-position: left bottom;
}
.nivo-directionNav .nivo-nextNav:hover {
    background-position: right bottom;
}
/* Control nav styles (e.g. 1,2,3...) */
.nivo-controlNav {
	text-align:center;
	padding: 15px 0;
	left: 0;
	bottom: 0;
	position: absolute;
}
.nivo-controlNav a {
	cursor:pointer;
}
.nivo-controlNav a.active {
	font-weight:bold;
}
/* Landscape phone to portrait tablet */
@media (max-width: 767px) {
    .nivo-directionNav {
        display: none;
    }
}